<% array = [] %>
<% player.reviews.each do |review|  %>
  <% array << review.rating %>
<% end %>
<% total = array.sum / player.reviews.count.to_f %>


<ul>
  <li><strong><%= player.name %></strong></li>
  <li><%= player.position %></li>
  <li><%= player.level %></li>
  <li><%= player.price_per_day %> € per day</li>
  <li>
    <% count = 0 %>
    <% 5.times do %>
      <% if total > count %>
        <i class="fas fa-star"></i>
      <% else %>
        <i class="far fa-star"></i>
      <% end %>
      <% count += 1 %>
    <% end %>
  </li>
</ul>

