.input-home {
  height: 50px !important;
  width: 400px !important;
  margin-right: 16px;
}

.form-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-index {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
