.container-gut {
  display:flex;
  align-items:center;
  width:100%;
  min-height:80vh;
  background-size: cover;
  color: white;
  justify-content:space-between;
}

.flex-item {
  margin-top: 50px;
  p{
    color:white;
    padding: 30px 10px;
    &:hover {
      opacity: 0.7;
    }
  }
}
.goalkeeper {
    margin-top: 100px;
}
