.container-gut {
  display:flex;
  align-items:center;
  width:100%;
  min-height:80vh;
  background-size: cover;
  color: white;
  justify-content:space-between;
}

.flex-item {
  margin-top: 50px;
}
.goalkeeper {
  margin-top: 100px;
}

.flex-element {
  display:flex;
  color: white;
  padding: 35px 20px;
  font-size: 16px;
  &:hover {
    opacity: 0.7;
  }
}
